body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    margin: 20px;
}

h1 {
    font-size: 24px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

li span {
    flex-grow: 1;
}

.edit-button, .delete-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

.edit-button:hover{
    color:white ;
    background-color: orange;
}
 .delete-button:hover {
    color:white;
    background-color: #f21b3f;
}
